* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
p{
  margin: 0;
  padding: 3px;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}

.county-search {

display: flex;
font-weight: 500;
align-items: center;



}
.flag{
  width: 40px;
  height: 40px;
  margin-right: 2px;
}

.country-one{


  flex-direction: column;

 
}

.span {
  font-weight: 500;
  margin-right: 3px;
}


.country-oneflag {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 30px;

}

.country-list {
  margin-left: 0;
  padding: 0;
}
